body{
  color: #fff;
  background-color: #111111;
  font-family: 'Merriweather', 'Open Sans', sans-serif;
  margin: 0 auto;
  font-size: 16px;

}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
} 

.clearfix:after {
    clear: both;
}

.not-active {
   cursor: not-allowed;
}

/****************************************************************************/

                            /*Home Page*/

/****************************************************************************/

/**************************  Navigation ********************************/

#logo{
  float: left;
}

#logo img{
  width: 45px;
  height: 45px;
  margin: 13.5px 10px;
  display: block;
  
}

a:link,
a:visited {
  color: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Merriweather', 'Open Sans', sans-serif;
  font-size: 16px;
}

a:hover {
  color: #fff;
}

header {
  width: 100%;
  background-color: #111111;
}

.toggle {
  width: 100%;
  height: auto;
  display: none;
}

nav {
  display: block;
  float: right;
}

nav ul{
  text-align: center;
  margin: 0 auto;
  clear: both;
  display: block;
  padding: 0;

}

nav ul li {
  display: inline-block;
  margin: 26px 20px;
  /*margin-top: 10px;*/
  /*margin-bottom: 30px;*/
  
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

/******************* media quirey for toggle hamburger menu***************/
/* divice width is 770 or under show hamburger menu
or run the code above to display full nevbar. */
@media screen and (max-width: 767px) {
  header {
    width: 100%;
    height: auto;
  }

  .toggle img{
    float: right;
    width: 45px;
    margin: 24.5px 10px;
    display: block;
  }

  header .toggle {
    display: block;
  }
  nav {
    display: none;
    float: none;
  }
  nav.active {
    display: block;
  }
  nav ul {
    margin: 0;
    width: 100%;
  }
  nav ul li {
    display: block;
    line-height: 3em;
    margin: 0;
  }
  nav ul li a {
    display: block;
    width: 100%;
    background-color: #283136;
    height: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #121b21;
  }
}

/**************************  Title Image ********************************/

.title h1 {
  color: #fff;
  font-size: 8vw;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.title {
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;  
  background-position: center;
  background-image: url(../images/main.jpg);
}

/**************************  Welcome Block ********************************/

main{
  background-color: #fff;
  margin: 0 auto;
  color: #111111;
}

#welcome-block h1{
  text-align: center;
}

#wl p{
  width: 250px;
  margin: 10px auto;
  text-align: center;
  
  border-bottom: 1px solid #111;
  border-top: 1px solid #111;
  padding: 6px 0px;
}

#about-rest p {
  margin: 20px 10px;
  text-align: center;
}

#welcome-block h2{
  text-align: center;
}

#opining-hours p, #location p{
  text-align: center;
  margin: 5px auto;
}

/**************************  Display Image ********************************/


#fresh-n-tasty h1 {
  color: #fff;
  font-size: 8vw;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
#fresh-n-tasty {
  height: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;  
  background-position: center;
  background-image: url(../images/fresh-and-tasty.jpg);
  margin: 20px 0px;
}

/**************************  Discover Menu ********************************/

#discover-menu-block h1{
text-align: center;
}

#about-menu p{
  margin: 20px 10px;
  text-align: center;
}

#button{
  display: block;
  text-align: center;
  margin: 0px auto;
  }

#button a{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.myButton {
  background-color:#E95C33;
  display:inline-block;
  cursor:pointer;
  color:#fff;
  font-size:12px;
  padding:10px 15px;
  text-decoration:none;
}

/** button for dicover menu **/

  #button1{
  display: block;
  text-align: center;
  margin: 0px auto;
  }

#button1 a{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.myButton1 {
  background-color:#E95C33;
  display:inline-block;
  cursor:pointer;
  color:#fff;
  font-size:12px;
  padding:10px 15px;
  text-decoration:none;
}

#chef img{
  display: block;
  margin: 20px auto;
}
#chef p{
  margin: 10px 40px 30px;
  text-align: center;
}

/**************************  Footer ********************************/

#news-letter h2{
  text-align: center;
}

#news-letter p{
  text-align: center;
  margin: 0 70px;
  /*color: #fff;*/
}

#news-letter form input[type=email] {
  margin-right: 10px;
  width: 60%;
  color: #111111;
  padding: 5px 0px;
  font-size: 18px;
}

input[type=submit] {
  background-color:#E95C33;
  display:inline-block;
  cursor:pointer;
  color:#fff;
  font-size:16px;
  padding:10px 20px;
  text-decoration:none;
  border: none;
}

#news-letter form{
  margin: 20px 20px 20px;
  text-align: center;
}

#opining-hours-footer p{
  text-align: center;
  margin: 5px auto;
}

#opining-hours-footer h2{
  text-align: center;
}

#follow-us h2{
 text-align: center;
}

#follow-us p{
  text-align: center;
  margin: 0 70px;
}

#follow-us-icon{
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px 10px;
}

#follow-us-icon img{
  display: inline-block;
  margin: 0px 20px;

}

#copywright{
  background-color: #222222;
}

#copywright p{
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  font-size: 14px;
}


/****************************************************************************/

                            /*Contact Page*/

/****************************************************************************/

#map h2{
  text-align: center;
}
#map iframe{
  
  box-sizing: border-box;
    padding: 0 10px 20px;
    border: none;
    width: 100%;
    height: 200px;
    text-align: center;
    display: block;
}

#about-our-rest h2{
  text-align: center;
}

#about-our-rest p{
  margin: 20px 10px;
  text-align: center;
}

#address h2{
  text-align: center;
}

#address p{
  margin: 20px 10px;
  text-align: center;
}

#contact h2{
  text-align: center;
}

#contact p{
  margin: 20px 10px;
  text-align: center;
}

#contact-form h3{
  text-align: center;
  margin: 40px 10px 0px;
}

#contact-form form{
 margin: 0 10px;
}

.form-label {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: left;
  padding: 3px;
  white-space: normal;
  font-weight: bold;
  margin-top: 9px;
  color: #444;
}

.form-textbox {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  box-shadow: 0px 1px 2px #EEE inset;
}
  
textarea{
  width: 100%;
}
/***************** button for submit contact form **************/
#contact-form-submit{
  display: block;
  margin: 20px auto;
}

#contact-form-submit a{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.contact-submit {
  background-color:#E95C33;
  display:inline-block;
  cursor:pointer;
  color:#fff;
  font-size:12px;
  padding:6px 15px;
  text-decoration:none;
}

/**************************** reservation form  **********************************/
#booking-form h2{
  text-align: center;
  margin: 20px 10px;
}

#booking-form form{
 margin: 0 10px;
}

#booking-form p{
 text-align: center;
 margin: 0 10px 20px;
}

.form-label-1 {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: left;
  padding: 3px;
  white-space: normal;
  font-weight: bold;
  margin-top: 9px;
  color: #444;
}

.form-textbox-1 {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  box-shadow: 0px 1px 2px #EEE inset;
}

.form-dropdown {
  width: 32.3%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  box-shadow: 0px 1px 2px #EEE inset;
}

/* submit button for reservation page*/
#submit{
  display: block;
  margin: 20px auto;
}

#submit a{
  color: #fff;
}

.submit {
  background-color:#E95C33;
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  cursor:pointer;
  color:#fff;
  font-size:12px;
  padding:10px 15px;
  text-decoration:none;
}

/************************ pop up window **********************************/
.is-hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  color: #000;
  padding: 20px 30px;
  max-width: 100%;
  position: relative;
  margin: 15% 20px 0;
  background: #fff;
}

.button-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-image: url(../images/close.png);
}

#close-button{
  display: block;
  margin: 20px auto;
}

.close-button{               /*close button in pop up model*/
  background-color:#E95C33;
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  cursor:pointer;
  color:#fff;
  font-size:12px;
  padding:10px 15px;
  text-decoration:none;
}

/* images which is hiding in the mobile view port*/

#wine-pic{
  display: none;
}

#food-pic{
  display: none;
}

#drink{
  display: none;
}

#model-img {
  display: none;
}

#logo_title{
  display: none;
}



/****************************************************************************/

                  /* media quiery*/   /* tablet potrati*/

/****************************************************************************/
@media all and (min-width: 768px){

  .title h1 {
    color: #fff;
    font-size: 6vw;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }
  .title {
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;  
    background-position: center;
    background-image: url(../images/main.jpg);
  }

  #logo_title{
    display: none;
  }

/* welcome block*/
  #welcome-block{
    width: 720px;
    margin: 0 auto;
  }

  #wine-pic {
    display: block;
    float: left;
    margin: 30px 0 21px;
  }

  #wine-pic img{
    width: 350px;
    height: 345px;
    display: block;
  }

  #tab-view1{
    width: 350px;
    height: 345px;
    float: right;
    margin: 30px 0px 21px;
  }

  #tab-view2{
    width: 730px;
    clear: both;
    margin: 15px 0px;
  }

  #opining-hours{
      float: right;
      width: 350px;
  }

  #location{
      float: left;
      width: 350px;
  }

  /*  Display Image */

#fresh-n-tasty h1 {
  color: #fff;
  font-size: 6vw;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
#fresh-n-tasty {
  height: 230px;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;  
  background-position: center;
  background-image: url(../images/fresh-and-tasty.jpg);
  margin: 20px 0px;
}

/* discover menu */
  
  #discover-menu-block {
    width: 720px;
    margin: 0 auto;
  }

   #food-pic {
    display: block;
    float: right;
    margin: 30px 0 21px;
  }

  #food-pic img{
    width: 350px;
    height: 340px;
    display: block;
  }

 #discover-view {
    width: 350px;
    height: 345px;
    float: left;
    margin: 30px 0px 21px;
    box-sizing: border-box;
    padding: 20px 0px;
  }

  #chef {
    clear: both;
    width: 720px;
    margin: 0 auto;
  }

  #chef img {
    float: left;

  }
  #chef p {
    float: right;
    margin: 20px 0px;
    box-sizing: border-box;
    padding: 48px 0px;
    width: 580px;
    /*clear: both;*/
  }

  /* footer */
  footer{
    width: 768px;
    margin: 0 auto;
  }
  #opining-hours-footer{
    float: left;
    width: 384px;
    margin: 0 auto
  }

  #follow-us{
    float: right;
    width: 384px;
    margin: 0 auto;
  }

  #follow-us-icon{
  width: 350px;
  margin: 0 auto;
  text-align: center;
  padding-top: 40px;
}

  #copywright{
    clear: both;
  }

  /***************************** contact page media quiery *******************/

  #rest-detail{
    width: 720px;
    margin: 0 auto;
  }

  #about-our-rest p{
    margin: 20px 0px;
  }

  #address {
    float: left;
    width: 360px;
  }

  #contact {
    float: right;
    width: 360px;
  }
 
 #contact-form form{
    margin: 20px 20px;
  }

  #map iframe{
  
  box-sizing: border-box;
    padding: 0 10px 20px;
    border: none;
    width: 100%;
    height: 300px;
    text-align: center;
    display: block;
}

  /***************************** reservation page **********************/

  .form-dropdown {
    width: 32.9%;
  }

/* modal pop up */
  #model-img {
    display: block;
  }

  #model-img img {
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    padding: 20px 20px;
  }

  #main-contant{
    margin: 0 20px;
  }

  #main-contant{
    color: #111;
    font-size: 18px;
    line-height: 15px;
  }

  #modal-title h3{
    margin: 0px 0px 0px 0px;

  }

}


/****************************************************************************/

                  /* media quiery*/   /* tablet landscape*/

/****************************************************************************/


@media all and (min-width: 1024px){

  header {
    width: 90%;
    margin: 0 auto;
  }

  .title h1 {
    color: #fff;
    font-size: 5vw;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }
  .title {
    height: 330px;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;  
    background-position: center;
    background-image: url(../images/main.jpg);
  }

  #logo_title{
    position: absolute;
    left: 0px;
    /*bottom:0px;*/
    top:140px;
    width: 100%;
    display: block;
    text-align: center;
  }

  #logo_title img{
    width: 55px;
    height: 55px;
  }

  #welcome-block {
    width: 980px;
  }

  #button {
    display: none;
  }

  #wine-pic {
  display: block;
  float: left;
  margin: 40px 0 21px;
  }

  #wine-pic img{
    width: 480px;
    height: 475px;
    display: block;
  }

   #tab-welcome-land{
    float: right;
  }

  #tab-view1{
    width: 480px;
    height: auto;
    margin: 40px 0px 20px;
  }

  #tab-view2{
    width: 480px;
  }

  #opining-hours{
    float: right;
    width: 240px;
    margin: 0
  }

  #location{
      float: left;
      width: 240px;
      margin: 0;
  }

    /*  Display Image */

  #fresh-n-tasty h1 {
    color: #fff;
    font-size: 5vw;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

  #fresh-n-tasty{
  margin: 30px 0px 20px;
  }

/* dicover menu */

  #discover-menu-block {
    width: 980px;
    margin: 0 auto;
  }

   #food-pic {
    display: block;
    float: right;
    margin: 30px 0 50px;
  }

  #food-pic img{
    width: 480px;
    height: 475px;
    display: block;
  }

  #tab-discover-land{
    float: left;
  }

  #discover-view {
    width: 480px;
    height: auto;
    float: left;
    margin: 30px 0px 21px;
    box-sizing: border-box;
    padding: 0px 0px 10px;
  }

  #chef {
    width: 480px;
    margin: 0 auto;
  }

  #chef img {
    display: block;
    margin: 0 170px;
  }

  #chef p {
    margin: 0;
    box-sizing: border-box;
    padding: 20px 0px;
    width: 480px;
  }

/* footer */
  
 footer{
    width: 1020px;
    margin: 0 auto;
  }

  #news-letter {
    width: 340px;
  }

  #opining-hours-footer{
    width: 332px;
  }

  #follow-us{
    width: 348px;
    margin: 0;
  }
  
  .np{
    float: left;
  }

  #follow-us-icon{
  width: 350px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
}

/*********************************** reservation page *********************/
  

  #booking-form {
    width: 1000px;
    margin: 20px auto 40px;
  }

  #booking-form form {
  margin: 0;
}
  
  #check-availability {
    width: 480px;
    margin: 0 10px;
  }

  #conformation {
    width: 480px;
    margin: 0 10px;
  }

  .divide {
    float: left;
  }

  #submit{
    clear: both;
    padding-top: 20px;
    padding-left: 10px;
    margin: 0;
  }

  .form-dropdown {
  width: 25%;
  }


  /* modal pop up */

  .modal-content {
  color: #000;
  padding: 20px 20px;
  max-width: 950px;
  position: relative;
  /*margin: 4% 20px 0;*/
  margin: 200px auto 0px;
  background: #fff;

}

  #model-img {
    display: block;
    float: left;
  }

  #model-img img {

    width: 430px;
    height: 280px;
    box-sizing: border-box;
    padding: 20px 20px;
    display: block;
  }

  #main-contant{
    margin: 20px 0px;
    float: right;
    width: 300px
    color: #111;
    font-size: 18px;
    line-height: 15px;
  }

  #modal-title h3{
    margin: 0;
    margin-top: 10px;
  }

  #close-button{
    clear: both;
  }

/******************************* contact page ********************************/
  #tab-land-margin{
    margin: 20px auto;
  }

  #rest-detail{
    width: 500px;
    float: right;
    margin: 0px 12px 0px 0px;
  }

  #about-our-rest{
    width: 480px;
    margin: 0px 10px;
  }

  #about-our-rest p {
  margin: 30px 0px;
  }

  #address {
    float: left;
    width: 200px;
  }

  #contact {
    float: right;
    width: 300px;
  }

  #contact-form{
    float: left;
    width: 500px;
    margin: 0px 0px 0px 12px;
  }

  #contact-form h3{
    font-size: 24px;
    margin: 20px auto;
  }

   #contact-form form{
    width: 480px;
    margin: 0px 10px;
  }

}


/****************************************************************************/

          /* media quiery */   /** desktop **/   /* 1280 & above */

/****************************************************************************/


@media all and (min-width: 1280px){

   header {
    width: 70%;
    margin: 0 auto;
  }

  .title h1 {
    color: #fff;
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }
  .title {
    height: 530px;
    width: 100%;
    display: flex;
    align-items: center;
    background-size: cover;  
    background-position: center;
    background-image: url(../images/main.jpg);
  }

  #logo_title{
    position: absolute;
    left: 0px;
    /*bottom:0px;*/
    top:220px;
    width: 100%;
    display: block;
    text-align: center;
  }

  #logo_title img{
    width: 70px;
    height: 70px;
  }


  #welcome-block {
    width: 1280px;
    margin: 40px auto;
  }

  #button {
    display: none;
  }

  #wine-pic {
  display: block;
  float: left;
  margin: 40px 35px 40px;
  }

  #wine-pic img{
    width: 560px;
    height: 520px;
    display: block;
  }

   #tab-welcome-land{
    float: right;
    margin: 50px auto;
  }

  #tab-view1{
    width: 640px;
    height: auto;
    margin: 20px 0px 20px;
    /*margin: 0;*/
  }

  #tab-view2{
    width: 640px;
    height: auto;
    /*margin: 0;*/
  }

  #opining-hours{
    float: right;
    width: 320px;
    margin: 0
  }

  #location{
      float: left;
      width: 320px;
      margin: 0;
  }

  #tab-view1 h1{
    font-size: 35px;
  }

    /*  Display Image */

  #fresh-n-tasty h1 {
    color: #fff;
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

  #fresh-n-tasty {
    height: 330px;
    }

  #fresh-n-tasty{
    margin: 0px;
  }

  /* dicover menu */

  #discover-menu-block {
    width: 1280px;
    margin: 0 auto;
  }

   #food-pic {
    display: block;
    float: right;
    margin: 30px 0 50px;
  }

  #food-pic img{
    width: 560px;
    height: 510px;
    display: block;
  }

  #tab-discover-land{
    float: left;
    width: 640px;
  }

  #discover-view {
    width: 640px;
    height: auto;
    float: left;
    margin: 30px 0px 21px;
    box-sizing: border-box;
    padding: 20px 0px;
  }

  #chef {
    width: 640px;
    margin: 0 auto;
  }

  #chef img {
    display: block;
    margin: 0 250px;
  }

  #chef p {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 0px;
    width: 640px;
  }

  #button1{
  display: block;
  text-align: center;
  margin: 0px auto;
  }

#button1 a{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.myButton1 {
  background-color:#E95C33;
  display:inline-block;
  cursor:pointer;
  color:#fff;
  font-size:12px;
  padding:10px 15px;
  text-decoration:none;
}

/* footer */
  
 footer{
    width: 1280px;
    margin: 10px auto;
  }

  #news-letter {
    width: 426.6px;
  }

  #opining-hours-footer{
    width: 426.6px;
  }

  #follow-us{
    width: 426.6px;
    margin: 0;
  }
  
  .np{
    float: left;
  }

  #follow-us-icon{
  width: 350px;
  margin: 0 auto;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 0px;
  }

/*********************************** reservation page *********************/
  
  #booking-form {
  width: 1280px;
  margin: 40px auto 40px;
  }

  #booking-form form {
  margin: 0;
}
  
  #check-availability {
    width: 600px;
    margin: 0 20px;
  }

  #conformation {
    width: 600px;
    margin: 0 20px;
  }

  .divide {
    float: left;
  }

  #submit{
    clear: both;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0;
  }

  .form-dropdown {
  width: 25%;
  }

  .form-group{
    padding: 10px 0;
  }

   /* modal pop up */

  .modal-content {
  color: #000;
  padding: 20px 20px;
  max-width: 1000px;
  position: relative;
  /*margin: 4% 20px 0;*/
  margin: 200px auto 0px;
  background: #fff;

}

  #model-img {
    display: block;
    float: left;
  }

  #model-img img {

    width: 430px;
    height: 280px;
    box-sizing: border-box;
    padding: 20px 20px;
    display: block;
  }

  #main-contant{
    margin: 20px 20px;
    float: right;
    width: 300px
    color: #111;
    font-size: 18px;
    line-height: 15px;
  }

  #modal-title h3{
    margin: 0;
    margin-top: 10px;
  }

  #close-button{
    clear: both;
  }

/******************************* contact page ********************************/
  
  #map iframe{
  box-sizing: border-box;
    padding: 0 10px 20px;
    border: none;
    width: 1280px;
    height: 500px;
    text-align: center;
    display: block;
}

  #tab-land-margin{
    margin: 20px auto;
    width: 1280px;
  }

  #desk-container{
    width: 1280px;
    margin: 0 auto;
  }

  #rest-detail{
    width: 600px;
    float: right;
    margin: 0px 20px;
  }

  #about-our-rest{
    width: 600px;
    margin: 0px 20px;
  }

  #about-our-rest p {
  margin: 35px 0px;
  }

  #address {
    float: left;
    width: 300px;
  }

  #contact {
    float: right;
    width: 300px;
  }

  #contact-form{
    float: left;
    width: 600px;
  }

  #contact-form h3{
    font-size: 24px;
    margin: 20px auto;
  }

   #contact-form form{
    width: 600px;
    margin: 0px 10px;
  }


}
